*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    background-image: url(../img/header-bgr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__inner{
    flex-direction: column;
    justify-content: space-between;
    min-height: 740px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
}

.header__content{
    margin: 0 auto;
    max-width: 900px;
    padding: 150px 0 0 0;
}

.header__title{
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 95px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #fff;
}

.header__title span{
    font-size: 64px;
}

.header__text{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #fff;
}

.age{
position: relative;
max-width: 1110px;
max-height: 300px;
left: 48px;
top: 105px;

background: #F7F7F7;
}

.age__table{
    margin-bottom: 50px;
}

.age__table-caption{
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
}
.age__table-tr{
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 107px;
text-align: center;
text-transform: uppercase;

/* Accent */

color: #F7654A;

}

.age__table-td{
padding: 57px 60px 0 130px;
}

.ages__table-tr{
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;

color: #000000;
}

.ages__table-td{
padding: 25px 60px 0 130px;

}
.ages__table-td span{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
    display: block;
}

.title{
    padding-top: 150px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    
    /* Dark */
    
    color: #404149;
    }
.project{
    padding-top: 190px;
    display: flex;
    flex-wrap: wrap;
}



.project__item{
    width: 390px;
    padding: 0 60px;
    margin-bottom: 30px;
}


.arena {
    display: block;
    margin-bottom: 20px;
}

.arena__text {
    margin-bottom: 8px;

    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

/* Dark */

color: #404149;
}


.arena__texts {
    margin-bottom: 20px;

    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #999999;

}

.request{
    display: flex;
    justify-content: space-around ;
    height: 181px;
    background: #F7654A;
    text-align: center;
    align-items: baseline;
}

.request__text{
    text-transform: uppercase;
    margin: 15px;
max-width: 600px;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;
letter-spacing: 0.02em;

color: #FFFFFF;

}

span{
font-size: 24px;
line-height: 36px;
letter-spacing: 0.02em;
}

.request__icon{
    position: relative;
    justify-content: center;
    display: flex;
    left: -161px;
    width: 185px;
    height: 49px;
    background: #FFFFFF;
}

.request__icon-text{
    padding-left: 10px;
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
text-transform: uppercase;

letter-spacing: 0.02;

color: #000000;

}

button{
    display: flex;
    align-items: center;
}

.work__header{
    padding-top: 150px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    text-align: center;

    color: #000000;
}

.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 66px;
    max-width: 1110px;
    max-height: 639px;
}

.work__item{
    width: 350px;
    height: 250px;
    text-align: center;
}

.work__icon{
    width: 60px;
height: 40px;
}

.work__title{
    margin: 0 auto ;
    width: 172px;
    padding-top: 30px;
height: 62px;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
text-align: center;
letter-spacing: 0.02em;
color: #000000;
}

.work__photo{
    display: flex;
    flex-wrap: wrap;
}

.work__photos{
    width: 25%;
    height: 350px;

    border-bottom: 1px; 
    border-right: 1px; 

    position: relative;
    overflow: hidden;
}

.answers__first{
padding-top: 150px;
text-align: center;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;

color: #000000;

}

.answer{
    padding-top: 50px;
    margin-bottom: 150px;
    width: 730px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.answer__poligon{
    margin: 0;
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid red;
	border-bottom: 5px solid transparent;
}

.answer__text{
padding-left: 15px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

/* Accent */

color: #F7654A;

}

.answer__suptext{
    width: 730px;
height: 83px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* gray */

color: #999999;
}

.answer__poligons{
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid red;
}

.partner{
    min-width: 1900px;
    height: 364px;
    background:  #404149;
}

.partner__text{
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;

/* White */

color: #FFFFFF;
}

.partner__item{
    padding-left: 127px;
    max-width: 1100px;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
}

.review__first{
    padding-top: 150px;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
text-align: center;

color: #000000;
}

.review{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1110px;
    height: 431px;
    
}

.review__item{
    margin-top: 60px;
    padding-left: 100px;
    width: 350px;
    height: 259px;
}

.review__icon{
    font-style: normal;
font-weight: bold;
font-size: 96px;
line-height: 142px;
text-transform: uppercase;

/* Accent */

color: #F7654A;
}

.review__text{
    padding: 10px;
    width: 290px;
height: 142px;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* or 150% */


/* gray */

color: #999999;

}

.review__suptext{
    position: relative;
    left: 60px;
    padding-top: 20px;
    font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
letter-spacing: 0.02em;

color: #000000;

}

.colortext {
    color: #F7654A;
}

